.bg{
    background-image: url(../../assets/earth.jpg);
    background-size: cover;
      background-position: center;
      height: 100vh; 
      width: 100%;
    }
  
   .height{
  height: 100vh;
   }